
body{width: 100%;height: 100%;background-color: #eee;}
*{margin:0;padding:0;}
ul li,ol li{list-style: none;}
header{
    width: 1350px;
    height: 90px;
    position: relative;
}
 .logo{
    width: 250px;
    height: 90px;
    left:20px;
    position: absolute;
}
.search{
    width: 380px;
    height: 60px;
    left: 35%;
    top: 20px;
    position: absolute;
}
.search .box{
    width: 380px;
    height: 50px;
    position: relative;
}
.box input{
    width: 360px;
    height: 30px;
    margin: 10px 5px;
    position: absolute;
}
.box span{
    display: block;
    width: 45px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: #c9c0ce;
    position: absolute;
    float: right;
    right: 12px;
    top: 11px;
    cursor: pointer;
}
.login{
    width:200px;
    height: 50px;
    right:10px;
    top:20px;
    position: absolute;
}
.login div{
    width: 65px;
    height: 35px;
    float: left;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid #B5B5B5;
    background-color: #ccc;
    cursor: pointer;
}
.login .login_right{
    color:#FFFFFF;
    background-color: #21B3D1;
}
.login .login_left:hover{
    border-color:#FF6060;
}
.nav{
    width: 1350px;
    height: 60px;
    display: flex;
    background-color: #E1E1E1;
}
.nav a{
    display: inline-block;
    height: 60px;
    text-align: center;
    text-decoration: none;
    flex:1;
}
.nav span{
    color: black;
    font-size: 15px;
    line-height: 60px;
}
.nav a:hover{
    background-color: #6C6CFF;
}
.main{
    width: 1350px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.main ul{
    width: 4050px;
    height: 550px;
    position: absolute;
    left: 0;
}
.main ul li{
    float: left;
    width: 1350px;
    height: 500px;
}
.main ul li img{
    width: 100%;
    height: 100%;
}
.main span{
    display: block;
    width: 80px;
    height: 60px;
    background-color: #eee;
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
}
.main .left,
.main .right{
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
.main .left{
    top: 50%;
    left:5px;
}
.main .right{
    top: 50%;
    right:5px;
}
.list{
    width: 1350px;
    display: flex;
}
.list div{
    flex:1;
    background-color: #eee;
    border:3px solid #eee;
    margin-left: -1px;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.list .more{
    width:100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    display: none;
    opacity: 0.5;
}
.list .more .small{
    width: 30%;
    height: 10%;
    top: 15%;
    left: 35%;
    position: absolute;
    border-radius: 10px;
    background-color: #ccc;
}
.list .small h1{
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 3px;
    line-height: 40px;
}
.list img{
    width: 100%;
    height: 50%;
}
.list span{
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    padding:5px;
    position: relative;
}
.list span h2{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "宋体";
    padding-bottom: 10px;
}
.list span p{
    letter-spacing: 2px;
}
.list span i{
    font-size: 15px;
    text-align: right;
    display: block;
    position: absolute;
    bottom: 3px;
    right:10px;
}

.list div:hover{
    border-color: #7580AA;
    z-index: 10;
}
footer{
    width: 1350px;
    height: 260px;
    margin-top: 100px;
    text-align: center;
    background-color: #ccc;
}
.line{
    border-top: 1px solid #ccc;
    padding: 23px 0 23px 0;
    margin-top: 30px;
}
.links{
    height:25px;
    text-align: center;
    line-height: 25px;
}
.links a{
    padding:0 6px;
    text-decoration: none;
    color: black;
}
.links a:hover{
    color:red;
}
.copyright{
    line-height:25px;
    margin-bottom: 10px;
}
